.private_chats{
    display: flex;

}
.game_chat{
width: 50px;
}

.friends_list_aside{
    flex: 0 0 20%;
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media screen and (max-width:420px) {
    .private_chats{
        flex-direction: column;
    }
    .friends_list_aside{
        width: 100%;
    }
    .game_chat{
        width: 100%;
        }
        
}