.nextArrow, .prevArrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    font-size: 24px;
  }
  

.carousel_styles{
    width: 100%;
    margin-bottom: 30px;
    height: 350px;
    overflow-y: visible; /* Ensure horizontal overflow is visible within the slider */
    margin-left: 30px;
}

.slickdots{
  width: fit-content;
  left: 46%;
  margin-bottom: 10px;
}

@media only screen and (max-width:500px)  {
  .slickdots{
    width: fit-content;
    left: 20%;
    margin-bottom: 10px;
  }
}